.catalog-menu {
  display: none;
}

.catalog-filter {
  display: none;
}

.products-list {
  display: flex;
  flex-wrap: wrap;

  .item-product-card {
    width: 50%;
    border: solid 1px #f5f5f5;
  }

  .seo_hidden_tags, .add-to-basket-tooltip {
    display: none;
  }

  .products-list-item {
    line-height: 100%;


    &__header {
      text-align: center;
    }

    &__footer {
      text-align: center;
    }

    &__title {
      color: #333333;
      font-weight: 500;
      font-size: 0.7em;
      font-stretch: normal;
      text-transform: uppercase;
    }
  }

  // Кнопка "Купить"
  div.icon__basket--large {
    min-width: 80%;
    display: inline-block;
    color: #ed2690;
    border: solid 1px #ed2690;
    border-radius: 4px;
    padding: 5px 10px;
  }
}
