
footer {
  background-color: #f5f5f5;
}

.footer-menu-section {
  &__item {
    .title {
      padding: 5px;
      border-bottom: 1px solid #ccc;
    }

    .footer-menu {
      display: none;
    }
  }
}
