@import "../colors";

header {
  background-color: $main-color;
  position: fixed;
  z-index: 100;
  width: 100%;
  top: 0;

  nav {
    .row {
      height: 40px;
    }
  }
}

main {
  margin-top: 40px;
}

.header {
  &__logo {
    display: inline-block;
    color: #fff;
    background-image: url("../assets/podrygka_logo_invert.svg");
    background-repeat: no-repeat;
    text-align: center;
    width: 126px;
    min-width: 126px;
    height: 33px;
  }

  &__btn {
    display: block;
    width: 45px;
    height: 40px;
    text-align: center;
    line-height: 40px;
  }

  &__center-col {
    text-align: center;
  }

  &__left-col {
    display: flex;
    justify-content: flex-start;

    .header__btn {
      border-right: solid 1px #df2488;
    }
  }

  &__right-col {
    display: flex;
    justify-content: flex-end;

    .header__btn {
      border-left: solid 1px #df2488;
    }
  }

  &__icon {
    width: 24px;
    height: 24px;
    display: inline-block;
    margin-top: 8px;
  }

  &__icon-menu {
    background: url("../assets/icons/header_icons.svg") 0px -30px no-repeat;
  }

  &__icon-search {
    background: url("../assets/icons/header_icons.svg") -62px -31px no-repeat;
  }

  &__icon-profile {
    background: url("../assets/icons/header_icons.svg") -90px -31px no-repeat;
  }

  &__icon-basket {
    color: $main-color;
    font-size: 0.7em;
    margin-top: 4px;
    width: 32px;
    height: 36px;
    background: url("../assets/icons/header_icons.svg") no-repeat -119px 0px;
  }
}

.search-bar {
  padding: 10px;
  border-top: 1px solid $border-color-header;
  box-shadow: 2px 1px 8px -2px rgba(0, 0, 0, 0.3);

  input {
    width: 100%;
    border: 0;
    background: #fff;
    opacity: 0.875;
    border-radius: 4px;
    padding: 5px 10px;
  }

  &__collapse {
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: underline;
    font-size: 0.9em;
  }
}

