
.mobile-menu {
  position: fixed;
  background: #fff;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 100;

  ul, li {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: #333333;
  }

  a {
    color: #333333;
  }

  div.title, li {
    text-transform: uppercase;
    vertical-align: middle;
  }

  div.title {
    padding: 15px 15px 5px 15px;
    font-weight: 500;
  }

  li {
    padding: 10px 15px;
  }

  &__item a {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    font-weight: 700;
    letter-spacing: -0.5px;
  }

  &__icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 5px;
  }

  &__icon-discount {
    background: url("../assets/icons/menu_icons.svg") 0 0 no-repeat;
  }

  &__icon-time {
    background: url("../assets/icons/menu_icons.svg") 0 32px no-repeat;
  }

  &__icon-new {
    background: url("../assets/icons/menu_icons.svg") -128px 0 no-repeat;
  }

  &__icon-korea {
    background: url("../assets/icons/menu_icons.svg") -160px 0 no-repeat;
  }

  &__icon-gift {
    background: url("../assets/icons/menu_icons.svg") -288px 0 no-repeat;
  }

  &__icon-makeup {
    background: url("../assets/icons/menu_icons.svg") -224px 0 no-repeat;
  }

  .secondary-links {
    background: #f5f5f5;

    a {
      text-transform: none;
      color: #333;
    }
  }
}
