@import "../colors";

.tns-outer {
  position: relative;
}

.tns-nav {
  text-align: center;
  margin: 10px 0;
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 100%;
}

.tns-nav > [aria-controls] {
  width: 10px;
  height: 10px;
  padding: 0;
  margin: 0 5px;
  border-radius: 50%;
  background: #fff;
  border: 0;
  box-shadow: inset 1px 1px 1px 0 #828082;
}

.tns-nav > .tns-nav-active {
  background: $main-color;
}

.tns-outer button[data-action="stop"], .tns-outer button[data-action="start"] {
  display: none;
}

.tns-controls {
  position: absolute;
  z-index: 2;
  top: 40%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tns-controls button[data-controls="prev"], .tns-controls button[data-controls="next"] {
  font-size: 0;
  background: url("../assets/icons/big_arrows.svg");
  width: 30px;
  height: 60px;
  border: 0;
  margin: 0 10px;
  transform: scale(0.6);
}

.tns-controls button[data-controls="next"] {
  background-position: -60px 0;
}

.slider-component {
  height: 55vh;
}
