<nav class="mobile-menu">
    <div class="title">
        <a href="/catalog/">Каталог</a>
    </div>
    <ul>
        <% items.forEach(function (item) { %>
        <li class="mobile-menu__item">
            <a href="#">
                <span class="mobile-menu__icon mobile-menu__icon-<%= item.icon %>"></span>
                <span class="text"><%= item.name %></span>
            </a>
        </li>
        <% }) %>
    </ul>

    <div class="secondary-links">
        <ul>
            <li class="second-item"><a href="/shoplist/">Магазины</a></li>
            <li class="second-item"><a href="/discount/">Дисконтная карта</a></li>
            <li class="second-item"><a href="/electronic_gift/">Подарочные сертификаты</a></li>
            <li class="second-item"><a href="/delivery/">Доставка и оплата</a></li>
            <li class="second-item"><a href="https://journal.podrygka.ru/">Online-журнал</a></li>
        </ul>
    </div>
</nav>
